<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/contacts']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ contact.name }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>{{ contact.email }}</div>
    <div>{{ contact.phone }}</div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/contacts-edit', id]"><mat-icon>edit</mat-icon></a>
    <a mat-fab color="warn" (click)="deleteContact(id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>